{% set sites = salt['pillar.get']('netbox:config_context:sites') -%}
---

# [broker, worker] The domains that should be accepted by clients and for which matching WireGuard interfaces exist
domains:
{% for site, domains in sites.items() %}{% for domain in domains %}
  - {{site}}_{{ domain }}{% endfor %}{% endfor %}
# [broker, worker] The prefix is trimmed from the domain name and replaced with 'wg-' and 'vx-'
# to calculate the WireGuard and VXLAN interface names
domain_prefixes:
{% for site in sites.keys() %}
  - {{site}}_{% endfor %}
# [worker] The external hostname of this worker
externalName: {{ grains['id'] | regex_replace('in\.ffmuc\.net','ext.ffmuc.net') }}
# [broker, worker] MQTT connection informations
mqtt:
  broker_url: broker.ov.ffmuc.net
  username:
  password:
  tls: False
  broker_port: 1883
  keepalive: 20
logging_config:
  formatters:
    standard:
      format: '%(asctime)s,%(msecs)d %(levelname)-8s [%(filename)s:%(lineno)d] %(message)s'
  handlers:
    console:
      class: logging.StreamHandler
      formatter: standard
  root:
    handlers:
      - console
    level: INFO
  version: 1
