[Unit]
Description=Wireguard Key Exchange Worker for Freifunk Donau-Ries segments
Documentation=https://github.com/freifunkMUC/wgkex
After=network-online.target

[Service]
User=wgkex
Environment="WGKEX_CONFIG_FILE=/etc/wgkex-ffdon.yaml"
WorkingDirectory=/srv/wgkex
ExecStart=/usr/bin/python3 -u -m wgkex.worker.app
Restart=on-failure

# Enable Logging
SyslogIdentifier=wgkex-ffdon

# allow fetching metrics for wireguard
CapabilityBoundingSet=CAP_NET_ADMIN
AmbientCapabilities=CAP_NET_ADMIN

[Install]
WantedBy=multi-user.target
