---

services:
  speedtest:
    image: adolfintel/speedtest
    restart: always
    ports:
      - {{ salt["pillar.get"]("netbox:config_context:docker:speedtest:frontend_port", 80) }}:80
    environment:
      TITLE: "Freifunk München Speedtest"
      MODE: "frontend"
    volumes:
      - ./servers.json:/servers.json
  speedtest-backend:
    image: adolfintel/speedtest
    restart: always
    ports:
      - {{ salt["pillar.get"]("netbox:config_context:docker:speedtest:backend_port", 8082) }}:80
    environment:
      MODE: "backend"
