###
# Managed by Salt
###

server {
    listen {{ sslPort }} ssl;
    listen [::]:{{ sslPort }} ssl;

    ssl_certificate     /etc/letsencrypt/live/ffmuc.net/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/ffmuc.net/privkey.pem;

    server_name {{ domain }};

    root /srv/www/{{ domain }};
    index index.html;

    location ~ /\. {
        deny all;
    }

    access_log /var/log/nginx/{{ domain }}_access.log json_normal;
    error_log  /var/log/nginx/{{ domain }}_error.log;
}
