[Unit]
Description=FFMuc rustic Backup

[Service]
Type=oneshot
Nice=19
IOSchedulingClass=idle
ExecStart=/usr/local/bin/rustic backup
ExecStart=/usr/local/bin/rustic forget
