[Unit]
Description=isc-dhcp-server with vrf support
After=syslog.target network-online.target

[Service]
Type=forking
User=root
Group=root
{% set sites = salt['pillar.get']('netbox:config_context:sites').values()|sum(start=[]) -%}
{% if 'vrf_external' in salt['grains.get']('ip_interfaces') %}
ExecStart=/sbin/ip vrf exec vrf_external /usr/sbin/dhcpd -4 -q -cf /etc/dhcp/dhcpd.conf {% for site in sites -%} br-{{ site }} {% endfor %}
{% else %}
ExecStart=/usr/sbin/dhcpd -4 -q -cf /etc/dhcp/dhcpd.conf {% for site in sites -%} br-{{ site }} {% endfor %}
{% endif %}
[Install]
WantedBy=multi-user.target
