---

name: black

# yamllint disable-line rule:truthy
on: [push, pull_request]

permissions:
  contents: read

jobs:
  black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      - uses: psf/black@af0ba72a73598c76189d6dd1b21d8532255d5942 # v25.9.0
        with:
          # yamllint disable-line rule:line-length
          options: ". --check --diff"
