---

name: black

# yamllint disable-line rule:truthy
on: [push, pull_request]

permissions:
  contents: read

jobs:
  black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      - uses: psf/black@6305bf1ae645ab7541be4f5028a86239316178eb # v26.1.0
        with:
          # yamllint disable-line rule:line-length
          options: ". --check --diff"
