---

name: black

# yamllint disable-line rule:truthy
on: [push, pull_request]

permissions:
  contents: read

jobs:
  black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      - uses: psf/black@6305bf1ae645ab7541be4f5028a86239316178eb # v26.1.0
        with:
          # yamllint disable-line rule:line-length
          options: ". --check --diff"
