---

name: Salt-lint

on:  # yamllint disable-line rule:truthy
  push:
  pull_request:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    name: Salt Lint
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Run salt-lint
        uses: roaldnefs/salt-lint-action@0a783d568eabf6b0bb63c79329ca3f6b7aec6d4b # v0.0.3
        env:
          ACTION_STATE_FIND_PATTERN: '^.*\.(sls|jinja|j2|tmpl|tst)$'
          ACTION_STATE_FIND_TYPE: 'regex'
          SALT_LINT_EXTRA_PARAMS: '-v -x 204,205'
