---
name: Shell Linting

on:  # yamllint disable-line rule:truthy
  workflow_dispatch:
  push:
    branches:
      - stable
      - next
    paths-ignore:
      - '.github/workflows/**'
  pull_request:
    paths-ignore:
      - '.github/workflows/**'

permissions:
  contents: read

jobs:
  shellcheck:
    name: runner / shellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: shellcheck
        # Make sure the action is pinned to a commit, as all reviewdog repos
        # have hundreds of contributors with write access (breaks easy/often)
        uses: reviewdog/action-shellcheck@4c07458293ac342d477251099501a718ae5ef86e  # v1.32.0
        with:
          filter_mode: "file"
          fail_on_error: true
          check_all_files_with_shebangs: true
