---

name: Yaml Lint
# yamllint disable-line rule:truthy
on: [push, pull_request]


permissions:
  contents: read

jobs:
  lintAllTheThings:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: yaml-lint
        uses: ibiqlik/action-yamllint@b74a2626a991d676b6ec243a6458ff86cccf2d2dc # master
        with:
          config_file: .yamllint
