---

name: Yaml Lint
# yamllint disable-line rule:truthy
on: [push, pull_request]


permissions:
  contents: read

jobs:
  lintAllTheThings:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: yaml-lint
        uses: ibiqlik/action-yamllint@b74a2626a991d676b6ec243a6458ff86cccf2d2dc # master
        with:
          config_file: .yamllint
